@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-image: url("img/bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container,
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game {
  gap: 80px;
}

h2 {
  color: white;
}

#player-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 175px;
}

#dealer-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 175px;
}

.player {
  margin-top: 25px;
}

.player,
.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.card img,
#hidden {
  height: 175px;
  width: 125px;
  margin: 2px;
}

.card {
  height: 175px;
  width: 125px;
  margin: 2px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease-out;
  transform: rotateY(180deg);
  animation: flip-start 1.5s forwards;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.front {
  z-index: 1;
}

.back {
  transform: rotateY(180deg);
}

@keyframes flip-start {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

button {
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  scale: 105%;
  opacity: 0.9;
}

.btns {
  display: flex;
  gap: 30px;
}

.player-pts,
.dealer-pts {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 40px;
  border: 2px solid #daa520;
  background-color: #000;
  margin: 10px;
  border-radius: 50px;
}

#hit {
  background-color: #000;
  color: #daa520;
  border: 2px solid #daa520;
  font-weight: bold;
}

#stay {
  background-color: #daa520;
  color: #000;
  border: 2px solid #000;
  font-weight: bold;
}

span {
  color: #daa520;
}

.game-over {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: calc(50% - 100px +1px);
}

.restart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background: #333333;
  background: radial-gradient(
    circle,
    rgba(51, 51, 51, 1) 0%,
    rgba(26, 26, 26, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 10px;
  border: #daa520 solid 3px;
  gap: 10px;
}

#message {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

#bt-restart {
  background-color: #daa520;
  border: 2px solid #000;
  width: 150px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #000;
}

@media only screen and (max-device-width: 480px) {
  container {
    gap: 20px;
  }
  .card,
  .card img,
  #hidden {
    height: 120px;
    width: 85px;
  }

  .restart {
    width: 300px;
    height: 200px;
  }
}
